@namespace Templahoot.Pages ;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="Templahoot.styles.css" rel="stylesheet"/>
    <title>Templa-hoot!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="font-sans flex min-h-screen flex-col justify-center overflow-hidden bg-slate-900 py-6 sm:py-12 space-y-12 p-2">
    <h1 class="text-4xl text-slate-200 mx-auto">Templa-hoot!</h1>
    <div>
        <div class="p-6 md:p-12 max-w-3xl mx-auto bg-slate-700 text-white rounded-lg">
            @RenderBody()
        </div>
    </div>
</div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <div id="components-reconnect-modal">
        <div class="connecting flex flex-col gap-2">
            Reconnecting...
            <button class="bg-slate-300 p-2 rounded-lg text-slate-800 hover:bg-slate-200 active:bg-slate-400" onclick="window.Blazor.reconnect()">Reconnect</button>
        </div>
        <div class="failed flex flex-col gap-2">
            <div>Connection lost.</div>
            <button class="bg-slate-300 p-2 rounded-lg text-slate-800 hover:bg-slate-200 active:bg-slate-400" onclick="window.Blazor.reconnect()">Reconnect</button>
        </div>
        <div class="rejected flex flex-col gap-2">
            <div>Connection rejected.</div>
            <button class="bg-slate-300 p-2 rounded-lg text-slate-800 hover:bg-slate-200 active:bg-slate-400" onclick="window.location.reload()">Reload</button>
        </div>
    </div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>