@page "/"
@inject NavigationManager NavigationManager

<h1>Templa-hoot!</h1>

<div class="flex min-h-screen flex-col justify-center overflow-hidden bg-slate-800 py-6 sm:py-12">
    <NavLink href="/quiz">Quiz</NavLink>
</div>

@code
{
    protected override void OnInitialized()
    {
        
    }

    protected override void OnAfterRender(bool firstRender)
    {
        NavigationManager.NavigateTo("/quiz");
    }
}
