@page "/"
@inject NavigationManager NavigationManager

<h1>Templa-hoot!</h1>

<div class="flex" style="flex-direction: column; align-items: center; gap: 1rem">
    <NavLink href="/quiz">Quiz</NavLink>
</div>

@code
{
    protected override void OnInitialized()
    {
        
    }

    protected override void OnAfterRender(bool firstRender)
    {
        NavigationManager.NavigateTo("/quiz");
    }
}
